.heading {
    text-transform: capitalize;
    font-weight: 900;
    font-size: 50px;
}

.movie-category {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}


.movie-container {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    margin-bottom: 25px;
}

.movie-container::-webkit-scrollbar {
    height: 8px;
    /* width of the entire scrollbar */
}

.movie-container::-webkit-scrollbar-track {
    background: #181818;
    /* color of the tracking area */
}

.movie-container::-webkit-scrollbar-thumb {
    background-color: #fff;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #fff;
    /* creates padding around scroll thumb */
}

.movie {
    flex: 0 0 auto;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    font-size: 0.8rem;

}


.movie img {
    width: 100%;
    height: 170px;
    background-size: cover;
    border-radius: 30px;
    opacity: 0.5;

}

.movie img:hover {
    opacity: 1;
}

.movie-list {
    margin-bottom: 80px;
}

.movie-title {
    height: 50px;
    overflow: hidden;
    position: absolute;
    margin-top: -65px;
    font-weight: 500;
    font-size: 1rem;
    left: 10%;
    text-align: left;

}

.stars {
    height: 50px;
    overflow: hidden;
    position: absolute;
    margin-top: -150px;
    font-weight: 500;
    font-size: 0.8rem;
    left: 10%;
    text-align: left;
    letter-spacing: 1px;
}


#hero {
    width: 100%;
    height: 600px;


    padding-top: 60px;


    background-image: url("https://image.tmdb.org/t/p/original/xnqust9Li4oxfhXD5kcPi3UC8i4.jpg");
    background-size: cover;

}

#hero p {
    font-size: 4rem;
    font-weight: 800;

    margin-top: 200px;
    left: 28%;

    background: transparent;

    position: absolute;

    color: rgba(255, 255, 255, 0.746);

    letter-spacing: 4px;
}

.gradient {
    height: 540px;
    background: linear-gradient(180deg, rgba(97, 97, 97, 0.13) 0%, rgb(24, 24, 24) 90%);
}